footer{
    background-color: rgb(109, 109, 248);
    position: absolute;
    top: 227rem;
    left: 0;
    width: 100%;
    height: 10rem;
}
.social-icons{
    margin-left: -1rem;
    margin-top: 1rem;
}
.social-icons a {
    padding: 0 1.3rem;
    margin: 0.8rem 0px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
  }

footer > .text-left{

position: absolute;
height: 3rem;
left: 2rem;
top: 5rem;
font-family: Sombra;
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 1.5rem;
color: #FFFFFF;
}

footer > .text-right{

position: absolute;
height: 2rem;
left: 119rem;
top: 5rem;

font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 2rem;

color: #FFFFFF;
}
.footer-text{
    margin-left: 6rem;
}
.nav > .nav-item{
    padding: 0px;
}

@media only screen and (max-width: 1438px){
    footer > .text-right{
        left: 74rem;
    }
    footer{
        top: 205rem;
    }
}

@media only screen and (max-width: 1024px){
    footer{
        top: 208rem;
    }
}

@media only screen and (max-width: 766px){
    footer > .text-right{
        left: 20rem;
    } 
    footer{
        top: 233rem;
        height: 11rem;
    }
    footer > .text-left{
        align-items: center;
        justify-content: center;
        left: 23rem;
        top: 3rem;
    }
    footer >.text-right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        left: -4rem;
        top: 8rem;
    }
    .footer-text{
        width: 40rem;
    }
}
@media only screen and (max-width: 405px){
    footer{
        position: relative;
        margin-left: -3rem;
        width: 52.5rem;
        top: 52rem;
        height: 12rem;
    }
    footer >.text-right{
        left: -4rem;
    }
    footer > .text-left{
        margin-left: -3rem;
    }
    .footer-text{
        width: 35rem;
    }
}
@media only screen and (min-width: 782px) and (max-width: 875px){
    footer > .text-right{
        left: 65rem;
    }
    
}

@media only screen and (max-width: 375px){
    footer{
        width: 50rem;
    }
    .footer-text{
        width: 30rem;
    }
}