footer{
    background-color: rgb(109, 109, 248);
    position: absolute;
    top: 227rem;
    left: 0;
    width: 100%;
    height: 10rem;
}
.social-icons{
    margin-left: -1rem;
    margin-top: 1rem;
}
.social-icons a {
    padding: 0 1.3rem;
    margin: 0.8rem 0px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
  }

footer > .text-left{

position: absolute;
height: 3rem;
left: 2rem;
top: 5rem;
font-family: Sombra;
font-style: normal;
font-weight: bold;
font-size: 2rem;
line-height: 1.5rem;
color: #FFFFFF;
}

footer > .text-right{

position: absolute;
height: 2rem;
left: 122rem;
top: 5rem;

font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 1.5rem;
line-height: 2rem;

color: #FFFFFF;
}
.footer-text{
    margin-left: 6rem;
}
.nav > .nav-item{
    padding: 0px;
}

@media only screen and (max-width: 1201px){
    footer > .text-left{
        left: 3rem;
    }
}