footer{
    background-color: rgb(109, 109, 248);
    position: absolute;
    top: 143em;
    left: 0;
    width: 1606px;
    height: 150px;
    overflow-y:hidden;
}
.social-icons{
    margin-left: -19px;
    margin-top: 8px;
}
.social-icons a {
    padding: 0 19px;
    margin: 8px 0px;
    color: #ffffff;
    text-decoration: none;
    font-size:17px;
  }

footer > .text-left{

position: absolute;
height: 27px;
left: 24px;
top: 87px;
font-family: Sombra;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 27px;
color: #FFFFFF;
}

footer > .text-right{

position: absolute;
height: 20px;
left: 1268px;
top: 87px;

font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
}
.footer-text{
    margin-left: 90px;
}
.nav > .nav-item{
    padding: 0px;
}

@media only screen and (max-width: 1201px){
    footer > .text-left{
        left: 34px;
    }
}