.header {
  background-color: rgb(109, 109, 248);
  height: 50rem;
  width: 100%;
}
.navbar {
  color: rgb(255, 255, 255);
  background-color: rgb(109, 109, 248);
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}
.navbar-brand {
  color: aliceblue;
  font-size: 2rem;
}
.nav-item {
  padding: 0 1.4rem;
}
.nav-link {
  color: aliceblue;
}
.mx-3{
    margin-left: 60rem !important;
}
.btn {
  border: 2px solid white !important;
  border-radius: 2rem !important;
  color: aliceblue !important;
  padding: 0.5rem 2rem !important;
}
.d-flex > .btn {
  margin-right: 3rem;
  font-size: 1.6rem;
}
.d-flex > .btn:hover {
  background-color: rgba(115, 141, 235, 0.918);
}
.text {
  margin: 4rem auto;
  padding: 3rem 0;
  color: aliceblue;
  font-size: 5rem;
  max-width: 50rem;
}
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}