.header {
  background-color: rgb(109, 109, 248);
  height: 50rem;
  width: 100%;
}
.navbar {
  color: rgb(255, 255, 255);
  background-color: rgb(109, 109, 248);
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}
.navbar-brand {
  color: aliceblue;
  font-size: 2rem;
}
.nav-item {
  padding: 0 1.2rem;
}
.nav-link {
  color: aliceblue;
  font-size: 1.5rem;
}
.mx-3{
    margin-left: 74rem !important;
}
.btn {
  border: 2px solid white !important;
  border-radius: 2rem !important;
  color: aliceblue !important;
  padding: 0.5rem 2rem !important;
}
.d-flex > .btn {
  margin-right: 3rem;
  font-size: 1.6rem;
}
.d-flex > .btn:hover {
  background-color: rgba(51, 55, 70, 0.918);
}
.text {
  margin: 4rem auto;
  padding: 3rem 0;
  color: aliceblue;
  font-size: 4rem;
  max-width: 50rem;
}
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}


@media only screen and (max-width: 1438px){
  .mx-3{
    margin-left: 42rem !important;
}
.nav-item {
  padding: 0 0.5rem;
}
.nav-link {
  font-size: 1rem;
}
.d-flex > .btn {
  font-size: 1rem;
}
}

@media only screen and (max-width: 1000px){
  .collapse:focus-within .navbar{
    display: block;
    cursor: pointer;
  }
}