*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
 font-size: 62.5%;
 overflow-x: hidden;
}
.slides{
  top: 114rem;
  margin-left: -19rem;
}

.slick-slide{
  margin: 0 1rem;
  border: 1px solid white;
  border-radius: 4%;
}
.slick-slide img{
  padding: 15px 18px;
}
.slick-arrow{
  top: 67% !important;
}
.slick-prev{
  left: 92rem !important;
}
.slick-next{
  right: 72rem !important;
}
.slick-prev:before, .slick-next:before {
  font-size: 3.5rem !important;
}
.card-body {
  margin-top: -12rem;
  margin-left: 3rem;
  color: aliceblue;
  opacity: 0.9;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1438px) {
  .slick-prev{
    left: 68rem !important;
  }
  .slick-next{
    right: 48rem !important;
  }
}

@media(max-width: 998px){
  html{
    font-size: 55%;
  }
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}
@media only screen and (max-width: 766px){
  .slides{
    justify-content: center;
    align-items: center;
    margin-left: -10rem;
    padding: 1rem 1rem;
  }
  .slick-slide img{
    padding: 1rem;
  }
  .slick-prev{
    left: 34rem !important;
  }
  .slick-next{
    right: 28rem !important;
  }
}

@media only screen and (max-width: 405px){
  .slick-prev{
    left: 32rem !important;
  }
  .slick-next{
    right: 24rem !important;
  }
}